body {
    background-image: radial-gradient(rgb(101, 115, 255),
     rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231),
      rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208),
       rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184),
        rgb(196, 108, 176), rgb(206, 107, 168));
}

table {
    margin: 100px auto;
    width: 300px;
    height: 400px;
    border-collapse: collapse;
    text-align: center;
    font-size: 45px;
}

input {
    font-size: 45px;
    width: 300px;
    text-align: right;
    background-color:transparent;
    border: none;
}

button {
    font-size: 45px;
    background-color:transparent;
    border: none;
}

button:hover {
    cursor: pointer;
    color:  rgb(206, 107, 168);
}

input,
button, 
button:active, 
button:focus {
    outline: none;
}

td {
    border:3px solid black;
}