﻿body {
    background: black;
    color: white;
    font-family: Verdana;
}

#console {
    overflow: auto;
    border: 1px solid #00FF00;
    margin: 20px 0 0 0px;
    color: #00FF00;
}

a {
    color: white;
    text-decoration: none;
}

header {
    height: 20px;
    margin: 0 0 20px 0px;
    padding-bottom: 30px;
}

header button {
    background: #0AC9FF;
    border: 1px solid white;
    height: 50px;
   
}

header button:hover,
header button:focus,
header button:active {
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: 3px solid white;
}

button {background: #e0e0e0;border: 1px solid #949494; width: 192px;height: 30px;padding-left: 0px; color: #1c1c1c;}
input {background: #e0e0e0;border: 1px solid #949494; width: 180px;height: 25px;padding-left: 10px;background: #282828; color: #e0e0e0; }

.current {
    font-weight: bold;
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: 10px;
}

#inputData label input {
    margin-left: 10px;
}