a {
    font-size: 2rem;
}

a:hover {
    color: red;
}

a:visited {
    color: green;
}

a:active {
    color: orange;
}

q:lang(en) {
    quotes: "\201C" "\201D";
}

p::first-line {
    color:purple;
    font-size: 1.5rem;
}

span::before{
    content: '(((';
    color: red;
}

span::after{
    content: ')))';
    color: red;
}