body {
    background-color: #595959;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
   font-size: 1.7rem;
}

.left_col {
    color:#FDF9F1;
    font-style: italic;
}

td {
    padding-left: 20px;
    padding-bottom: 35px;
}

.circle {
    background:  #71B47A;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.heading,
.right_col_grey {
    color: #C2BFBB;
}

.right_col_yellow {
    color: #FFF6AF;
}

.right_col_red {
    color:#EF0C0D;
    display: block;
    font-weight: bold;
    padding-top: 7px;
}

.right_col_orange {
    color: #D86642;
    font-weight: bold;
}