table {
    border-collapse: collapse;
    border: 1px solid #BBB99D;
    font-family: Arial, Helvetica, sans-serif;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3) {
    border-right: 1px solid #BBB99D;
}

td {
    padding:5px 60px 5px 10px;
}

.header {
    background: #52B506;
    color: #FDFFFF;
}

.header td {
    border-bottom: 1px solid #BBB99D;
}

tr:nth-child(3),
tr:nth-child(5) {
    background: #ECECD8;
}

.alignment {
    display: flex;
    align-items: center;
}

span {
    padding-left: 10px;
}