.result1,
.result2,
.result3,
.result4,
.result5 {
    background: lightgoldenrodyellow;
}

#Rectangle p,
#RightAngledTriangle p,
#EquilateralTriangle p,
#Rhombus p {
    margin: 0;
}

#Rectangle,
#RightAngledTriangle,
#EquilateralTriangle,
#Rhombus {
    margin-bottom: 10px;
}

.arrFirst,
.arrLast {
    border:1px solid black;
    width: 150px;
    text-align: center;
}