$main-background:#212121;
$font-color: white;

@mixin flex {
    display: flex;
}

body {
    @include flex;
    background: $main-background;
}

input[type=radio] {
    opacity: 0;
}

nav {
    @include flex;
    height: 98vh;
    justify-content: center;
    overflow: auto;
    width: 250px;
}

li {
    list-style-type: none;
}

label img {
    display: block;
    width: 200px;
}

input + img {
    display: none;
    width:800px;
}

h1 {
    color:$font-color;
    margin-left: 72px;
}

input:checked ~ img {
    display: block;
    position: absolute;
    left: 331px;
    top:100px;
}
