body {
  display: flex;
  background: #212121; }

input[type=radio] {
  opacity: 0; }

nav {
  display: flex;
  height: 98vh;
  justify-content: center;
  overflow: auto;
  width: 250px; }

li {
  list-style-type: none; }

label img {
  display: block;
  width: 200px; }

input + img {
  display: none;
  width: 800px; }

h1 {
  color: white;
  margin-left: 72px; }

input:checked ~ img {
  display: block;
  position: absolute;
  left: 331px;
  top: 100px; }
