header {
    display: flex;
    align-items: center;
}

h1 {
   margin-left: 150px;
}

a {
    text-decoration: none;
    color:black;
}

a, th, td {
    font-size: 19px;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}