.wrapper {
    background:#EEEEEE;
    width: 50%;
    border:1px solid #EEEEEE;
    border-radius: 10px;
}

.heading {
    margin-left: 20px;
    margin-bottom: 40px;
}

.content {
    background:#FFFFFF;
    margin: 0 auto;
    padding:15px 15px;
    width: 85%;
    margin-bottom: 40px;
    border:1px solid gray;    
}

.content_item {
    margin-left: 150px;
}

img {
    float: left;
}

p span {
    font-weight: bold;
}

div.content p {
    margin: 0;
    width: 227px;
}

button {
    background-image: url('button.png');
    color: white;
    margin-top: 10px;
    padding: 5px 10px 5px 20px;
    border-style: outset;
}

.button_item {
    margin-left: 150px;
}