body {
    background: #5B5B5B;
}

header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}

form {
    color: white;
    margin-left: 15px;
}

img {
    background-color: transparent;
}

p {
    width: 55%;
    color: #8C9CA4;
}

h3 {
    color: #FDC200;
}

p, h3 {
    margin-left: 15px;
}

input,
button {
    margin-left: 15px;
}