.wrapper {
    width: 970px;
    border:2px solid black;
    display: flex;
    background: #F1F1F1;
}

nav {
    width:200px;
    margin-top: 20px;
}

[alt="home"] {
    width: 15px;
}

[alt="left-arrow"],
[alt="right-arrow"] {
    width: 8px;
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

ul a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.color_red_bold {
    color:#8E0604;
    font-weight: bold;
}

aside {
    width: 200px;
    height: 664px;
    margin:5px 5px;
    text-align: center;
    background-color: rgba(255,255,255,1);
}

h4 {
    margin: 0;
    background-color: #808080;
    color: white;
    margin-bottom: 10px;
}

aside div {
    border:1px solid  #808080;
    margin-bottom: 2px;
    padding-bottom: 5px;
}

aside a {
    display: block;
    color:#8E0604;
}

.color_blue {
    margin-top: 10px;
    background: #C0E6FA;
    border:1px solid#5A93BD;
    color:#2FCAFF;
    box-shadow: inset;
    padding: 5px 15px;
}

article {
    width: 540px;
    height: 703px;
    border:1px solid #808080;
    margin:5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,255,255,1);
}

article button:first-child img{
    padding-right: 20px;
}

article button:last-child img{
    padding-left: 20px;
}

article button:last-child{
    padding-left: 30px;
    background-color: #fff;
}

article button:first-child{
    padding-right: 30px;
    background-color: #fff;
}

article div {
    margin-bottom: 20px;
}

hr {
    background-color: #808080;
}

article a {
    color:#8E0604;
}

[alt="CSS"] {
    float: left;
}

.float_text {
    margin-left: 110px;
}


.float_text p {
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}