header {
    text-align: center;
}

h2 {
    display: inline;
}

.content_block {
    width: 336px;
}

.content_block_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.left_col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    border:1px solid black;
}

.left_col div {
    margin:10px;
}

.right_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_col div {
    margin-left: 30px;
    margin-top: 70px;
    font-size: 25px;
}

input {
    margin-left: 20px;
}

hr {
    background-color: black;
}