.wrapper {
    width: 47%;
    background: #1E3741;
    border:2px solid #00968C;
    border-radius: 10px;
}

header ul {
    padding-left: 10px;
}

li {
    list-style-type: none;
}

header li {
    display: inline;
}

a {
    text-decoration: none;
}

.color_white {
    color: white;
}

.color_gray {
    color:#8FB0B7;
}

.underline {
    text-decoration: underline;
}

.background_gray {
    background: #4B5F67;
    padding: 10px 15px;
}

.content {
    display: flex;
}

.content div:first-child {
    width: 282px;
}

.content ul {
    padding: 0;
}

.content li {
    padding:10px 10px;
    border-top:1px solid#8FB0B7;
}

.content li:hover {
    cursor: pointer;
    background: #00968C;
    color: white;
    border-top:1px solid#00968C;
}

.content div:last-child {
    margin-top: 16px;
}