.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(237,244,252,1) 20%, rgba(217,228,241,1) 76%);
}

header {
    background: linear-gradient(180deg, rgba(251,252,254,1) 0%, rgba(223,228,244,1) 50%);
    border-bottom:1px solid #BBC2D3;
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

a span {
    text-decoration: underline;
}

.screen {
    margin: 15px 15px;
    height: 40px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 24%, rgba(230,239,251,1) 50%);
    border: 1px solid #99A7B8;
    border-radius: 4px;
    font-size: 1.6rem;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 0;
}

.numbers {
    border: 1px solid #99A7B8;
    border-radius: 4px;
    margin: 15px 15px 0px 15px;
}

table {
    width: 97%;
    margin: 0 auto;
    color:#1C385B;
    font-size: 0.8rem;
}

.numbers td:nth-child(8) {
    width: 1%;
    text-align: right;
}

.color_gray {
    color:#6E6260;
}

form table {
    border-spacing: 7px;
}

form td {
    border: 1px solid #99A7B8;
    border-radius: 3px;
    border-style: outset;
    background: #D9E4F1;
}

button {
    background: transparent;
    width: 100%;
    border:none;
    color:#596E87;
    font-weight: bold;
    font-size: 0.8rem;
    padding:5px 0;
}

form td:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(254,241,228,1) 56%, rgba(251,225,131,1) 72%);
}

button:hover {
    cursor: pointer;
}

.color_dark {
    background: #D9E4F1;
    border: 1px solid #99A7B8;
}

.color_light {
    background: linear-gradient(180deg, rgba(247,251,255,1) 60%, rgba(239,248,252,1) 63%);
}

.color_dark-light {
    background: linear-gradient(180deg, rgba(255,255,255,1) 24%, rgba(230,239,251,1) 50%);
}