@font-face {
    font-family: Consolas; 
    src: url(Consolas.ttf); 
   }

@font-face {
    font-family: Edwardian Script ITC; 
    src: url(EdwardianScriptITC.ttf); 
   }

p {
    font-family: Consolas;
    color:#0094ff;
}

.main_letter {
    font-family: Edwardian Script ITC;
    font-size: 3rem;
}

span {
    font-weight: bold;
}